#header{
    height: 75px;
    background-color: darkgoldenrod;
}
#mapdiv{
    height: 500px;
    background-color: grey;
}
#side_panel{
    height: 500px;
    background-color: beige;
}
#footer{
    height: 75px;
    background-color: darkgrey;
}